*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/* parte superiore del nav */
nav{
    color: white;
}

.nav-top{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgb(37, 94, 233);
}

.nav-top-inner{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.nav-top-inner .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}

.nav-top-inner #links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    height: 70px;
}

.nav-top-inner ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* list-style-type: none; */
}

.nav-top-inner li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 30px;
}

.nav-top-inner button.button-small{
    background-color: white;
    border: none;
    border-radius: 20px;;
    padding: 6px 12px;
}

.nav-top-inner .login, .register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}
/* fine parte superiore del nav */

/* parte inferiore del nav */
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.nav-bottom-inner{
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 250px;
    border: none;
}

.nav-bottom-inner .title{
    text-align: center;
    width: 500px;
    height: 180px;
}

.nav-bottom-inner .title h1{
    margin: 30px 0;
    font-size: 30px;
}

.nav-bottom-inner .download{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
}

.nav-bottom-inner .browser{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
}

.nav-bottom-inner .download .button-large{
    background-color: white;
    border: none;
    border-radius: 20px;;
    padding: 10px 20px;
}

.nav-bottom-inner .browser .button-large{
    /* perché non eredita il color white da nav?? */
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;;
    padding: 10px 20px;
}
/* fine parte inferiore del nav */

/* inizio di main */
main{
    display: flex;
    flex-direction: column;
}

.section-one, .section-three{
    background-color: white;
}

.section-two, .section-four, .section-five{
    background-color: lightgrey;
}

.section-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.section-inner .section-img{
    width: 600px;
    height: 100%;
}

.section-inner .section-img img{
    width: 100%;
}

.section-inner .section-text{
    width: 400px;
    height: 100%;
}

.section-four-img img{
    height: 100%;
    width: 100%;
}

.section-one{
    height: 400px;
    margin-top: 60px;
}

.section-two{
    height: 400px;
}

.section-three{
    height: 400px;
}

.section-four{
    height: 500px;
}

.section-five{
    height: 200px;
}

.section-four-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-four-text{
    width: 1000px;
    height: 160px;
    background-color: coral;
}

.section-four-img{
    width: 1000px;
    height: 340px;
    background-color: darkolivegreen;
}

.section-five-inner{
    /* background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-five-text{
    width: 500px;
    height: 130px;
    background-color: coral;
}

.section-five-download{
    height: 70px;
    width: 250px;
    background-color: rgb(80, 80, 167);
}

footer{
    height: 500px;
    display: flex;
    flex-direction: column;
}

.footer-top{
    display: flex;
    justify-content: center;
    height: 400px;
}

.footer-top-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 35px;
    width: 1000px;
}

.footer-top-inner div{
    width: 150px;
    background-color: black;
}

#social{
    width: 250px;
    background-color: antiquewhite;
}

.footer-bottom{
        height: 100px;
        display: flex;
        justify-content: center;
}

.footer-bottom-inner{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
