*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* parte superiore del nav */
nav{
    color: white;
}

.nav-top{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgb(37, 94, 233);
}

.nav-top-inner{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

nav a{
    color: white;
    text-decoration: none;
}

.nav-top-inner .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}

.nav-top-inner #links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    height: 70px;
}

.nav-top-inner ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* list-style-type: none; */
}

.nav-top-inner li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 30px;
}

.nav-top-inner button.button-small{
    background-color: white;
    border: none;
    border-radius: 20px;;
    padding: 6px 12px;
}

.nav-top-inner .login, .register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}
/* fine parte superiore del nav */

/* parte inferiore del nav */
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.nav-bottom-inner{
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 250px;
    border: none;
}

.nav-bottom-inner .title{
    text-align: center;
    width: 500px;
    height: 180px;
}

.nav-bottom-inner .title h1{
    margin: 30px 0;
    font-size: 30px;
}

.nav-bottom-inner .download{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
}

.nav-bottom-inner .browser{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
}

.nav-bottom-inner .download .button-large{
    background-color: white;
    border: none;
    border-radius: 20px;;
    padding: 10px 20px;
}

.nav-bottom-inner .browser .button-large{
    /* perché non eredita il color white da nav?? */
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;;
    padding: 10px 20px;
}
/* fine parte inferiore del nav */

/* inizio di main */
main{
    display: flex;
    flex-direction: column;
}

.section-one{
    height: 400px;
    margin-top: 60px;
}

.section-two{
    height: 400px;

}

.section-three{
    height: 400px;
}

.section-one, .section-three{
    background-color: white;
}

.section-two, .section-four, .section-five{
    background-color: rgb(230, 230, 230);
}

#waves{
    opacity: 0.1;
    margin-bottom: 0;
}

#waves img{
    display: block;
}

#waves.rotate img{
    display: block;
    transform: rotate(180deg);
}

.section-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.section-inner .section-img{
    width: 600px;
    height: 100%;
}

.section-inner .section-img img{
    text-align: center;
    width: 100%;
}

.section-inner .section-text{
    padding: 40px;
    width: 300px;
    height: 100%;
}

h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.section-text p{
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
}

.section-four{
    height: 500px;
}

.section-four-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-four-inner .section-four-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 160px;
}

.section-four-inner .section-four-text p{
    text-align: center;
    width: 800px;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
}

.section-four-inner .section-four-img img{
    height: 100%;
    width: 100%;
}

.section-four-inner .section-four-img{
    height: 340px;
}

.section-five{
    height: 200px;
}

.section-five-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.section-five-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
}

.section-five-download{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
}

.section-five-download button.button-small{
    color: white;
    background-color: rgb(114, 137, 218);
    border: none;
    border-radius: 20px;;
    padding: 6px 12px;
}

footer{
    display: flex;
    flex-direction: column;
    height: 500px;
    color: white;
    background-color: rgb(35, 39, 42);
}

.footer-top{
    display: flex;
    justify-content: center;
    height: 400px;
}

.footer-top-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 35px;
    width: 1000px;
}

.footer-top-inner div{
    width: 150px;
}

.footer-top-inner #social{
    width: 250px;
}

.footer-bottom{
        height: 100px;
        display: flex;
        justify-content: center;
}

.footer-bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.footer-bottom-inner .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
}

.footer-bottom-inner .register .button-small{
    color: white;
    background-color: rgb(114, 137, 218);
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
}

.footer-top-inner .list-title strong{
    color: rgb(114, 137, 218);
    font-size: 18px;
}

.footer-top-inner .list-title ul{
    margin-top: 10px;
}

.footer-top-inner .list-title ul li{
    list-style-type: none;
    padding: 10px 0;
}

.footer-top-inner #social img{
    width: 30px;
    vertical-align: middle;
}

.footer-top-inner select{
    color: white;
    vertical-align: middle;
    background-color: rgb(35, 39, 42);
    margin-left: 10px;
}

.footer-top-inner #social h3{
    color: rgb(114, 137, 218);
    margin-bottom: 15px;
}